
*{
    margin:0px;
    padding:0px;
}



/*body{

    background: rgba(210,255,82,1);
    background: -moz-linear-gradient(top, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(210,255,82,1)), color-stop(100%, rgba(145,232,66,1)));
    background: -webkit-linear-gradient(top, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
    background: -o-linear-gradient(top, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
    background: -ms-linear-gradient(top, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
    background: linear-gradient(to bottom, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#91e842', GradientType=0 );
    

    height:604px;
    width:1346px;    
    */

.top{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    margin-left: 15px;
}
.top div{
    padding: 7px;
}
.dificultad{
    display: flex;
    flex-direction: column;
}
.dificultad div {
    padding: 5px;
}
#botonIniciar{
    border-style: none;
    background-color: white;
    height: 50px;
    width: 70px;
    align-self: center;
    margin-top: 0;
}
h3{
    padding: 0px;
}
ul{
    list-style:none;
    margin-left: 5px;
}